@import '../sass/variables.scss';

.footerCss{
    background-color: $background!important;
}

.socialLogo{
    background-color: transparent!important;
    color:white!important;
}

.socialLogo:hover{
    background-color: white!important;
    color:black!important;
}