@import '../sass/variables.scss';

#home{
    min-height:80vh;
    min-width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $secondary;
}

#homeContent{
    min-height: 60vh;
    min-width:80vw;
    color: $primary;
    display:flex;
}

#homeTitle{
    display:flex;
    min-height:60vh;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:30%;
    background-image: linear-gradient(45deg,$primary,white,$primary,white);
    // border-left:10px solid $background;
    color:black;
    z-index:1;
    transform: translateX(0%);
    animation: animate 4s linear infinite;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0,0.2);
}

@keyframes animate {
    0%{
        transform:translateX(0%);
    }
    50%{
        transform:translateX(100%);
    }
    100%{
        transform:translateX(0%);
    }
}

#homeScreenContent{
    background-color: $background;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:5px;
    min-width:70%;
    text-align: center;
    z-index:2;
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0,0.2);
}

#logo{
    font-size: 10vmin;
}

#logoName{
    font-size:3.5vmin;
}

#logoContent{
    font-size:4vmin;
    font-weight:600;
}

#loginBtn{
    margin:none;
    border:none;
    padding:8px;
    background-color: $background;
    border:2px solid $primary;
    border-radius: 15px;
    color:$primary;
    font-weight: 600;
    padding-left: 25px;
    padding-right: 25px;
}

#loginBtn:hover{
    background-color: $primary;
    color:$background;
    transition: .4s;
}