@import '../sass/variables.scss';

#home{
    min-height:70vh;
    min-width:90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#homeContent{
    min-height: 60vh;
    min-width:80vw;
    background-color: $background;
    color: $primary;
    display:flex;
    border-left:10px solid $background;
    border-right:10px solid $background;
}

#homeTitle{
    display:flex;
    min-height:60vh;
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
    min-width:30%;
    background-color: white;
    color:black;
}

#homeScreenContent{
    display:flex;
    align-items: center;
    justify-content: center;
    padding:5px;
    min-width:70%;
    text-align: center;
}