@import './variables.scss';

#profilePage{
    min-height:80vh;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#profileDashboard{
    min-height:60vh;
    width:30%;
    display: flex;
    flex-direction: column;
    padding:5px;
    align-items: center;
    justify-content: center;
    color:$primary;
    background-color: $background;
}

#profileProgress{
    width:60%;
    min-height: 60vh;
}