@import '../sass/variables.scss';

h2{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
hr{
    width: 75%;
    margin: auto;
}
#stackcontent{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
}
#theory{
    width: 50%;
    padding: 10px;
}
#animation{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#infinite{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mainStack{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
    border-right: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid black;
    background-color: black;
    border-radius: 10px;
    width: 150px;
    height: 200px;
}
#firstElem{
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    animation: first_element 4s ease-in-out 0s infinite forwards;
}
#pop{
    color: black;
}
#push{
    color: $primary;
}
@keyframes first_element {
            
    0%{
        bottom: 0px;
    }
    17%{
        bottom: 100px;
    }
    34%{
        bottom: 100px;
        left: 0px;
    }
    50%{
        bottom: 100px;
        left: 150px;
        background-color: $primary;
    }
    64%{
        bottom: 100px;
        left: 150px;
    }
    81%{
        bottom: 100px;
        left: 0px;
    }
    100%{
        bottom: 0px;
        background-color: black;
    }
}
.elem{
    border: 2px solid white;
    background-color: $primary;
    border-radius: 6px;
    color: rgb(90, 90, 90);
    font-weight: bold;
    width: 135px;
    margin: 2px;
}
.maincontainer{
    position: relative;
    width: 200px;
    height: 300px;
}
.thecard{
    position:absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
}
.thecard:hover{
    transform: rotateY(180deg);
}
.thefront{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: white;
    color: #333;
}
.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-radius: 10px;
    background: white;
    transform: rotateY(180deg);
}
#dp{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 210px;
    font-size: xx-large;
    color: rgb(170, 255, 0);
    background: black;
}
#dp h1{
    font-size: 8rem;
}
#content{
    font-size: small;
    border: 2px solid black;
}
#visualizebtn{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    background-color: black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-radius: 10px;
    color: chartreuse;
}
#visualContent h3{
    text-align: center;
}
